#common
years = [2023]
batch_size = 32
training_mode = True
#For train
start_epoch = 0
num_epochs = 100
lr = 0.01

#For eval
epoch = 10
best_model = True
DEFAULT:
	#algorithm = algo_mlp.Alg_MLP( "Naive_MLP" )
	algorithm = algo_postal_GCN.Alg_Postal_GCN( "Postal_GCN" )
	#algorithm = algo_postal_GAT.Alg_Postal_GAT( "Postal_GAT" )
	#algorithm = algo_postal_GraphSage.Alg_Postal_GraphSage( "Postal_GraphSage" )
	#algorithm = algo_postal_GIN.Alg_Postal_GIN( "Postal_GIN" )